root = true

# all files
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

# source files
[{*.go,*.ts,*.tsx,*.json,*.html,*.css}]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true
